<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="false" />
  <node
		pkg="std_detector"
		type="bag_to_pcd"
		name="bag_to_pcd"
		output="screen"
	/>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find std_detector)/rviz_cfg/icp_config.rviz" />
  </group>
</launch>
