<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="true" />
  <arg name="config_path" default="" />
  <rosparam command="load" file="$(arg config_path)" />
  <node
		pkg="std_detector"
		type="place_recognition_livox"
		name="place_recognition_livox"
		output="screen"
	/>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find std_detector)/rviz_cfg/demo.rviz" />
  </group>

</launch>
